<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="../web.ico" type="image/x-icon">
</head>
<body>
    <h2>name:{{ name }}</h2>
    <h2>age:{{ age }}</h2>
    <h2>salary:{{ salary }}</h2>
    <h2>list:{{ list }}</h2>
    <h2>list:{{ list.0 }}</h2>
    <h2>tup:{{ tup }}</h2>
    <h2>dic:{{ dic }}</h2>
    <h2>dic:{{ dic.SHZ }}</h2>
    <h2>per:{{ per }}</h2>
    <h2>per.name:{{ per.name }}</h2>
    <h2>per.age:{{ per.age }}</h2>
    <h2>per.age:{{ per.show }}</h2>

</body>
</html>